In [3]:
df.head()

,Country,Year,AverageTemperature,Code,Annual nitrous oxide emissions in CO₂ equivalents,Annual methane emissions in CO₂ equivalents,Annual CO₂ emissions
0,Afghanistan,1850,13.185427,AFG,223008.40,3594926.5,3520884.0
1,Afghanistan,1851,13.391073,AFG,227659.61,3615134.5,3561188.2
2,Afghanistan,1852,13.337948,AFG,232190.92,3635346.8,3596619.0
3,Afghanistan,1853,13.270833,AFG,236528.19,3655563.5,3630340.0
4,Afghanistan,1854,13.481042,AFG,240597.22,3675785.0,3662827.5

In [12]:
df.columns

Index(['Country', 'Year', 'AverageTemperature', 'Code',
       'Annual nitrous oxide emissions in CO₂ equivalents',
       'Annual methane emissions in CO₂ equivalents', 'Annual CO₂ emissions'],
      dtype='object')

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA
import numpy as np

# Load dataset
data = pd.read_csv('merged_data_inner.csv')

# Preprocessing (aggregating to global level)
global_data = data.groupby('Year')['AverageTemperature'].mean().reset_index()

# Feature selection
X = data[['Annual CO₂ emissions', 'Annual methane emissions in CO₂ equivalents', 'Annual nitrous oxide emissions in CO₂ equivalents']]
y = data['AverageTemperature']

# Split into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [24]:


# Linear Regression
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

# Polynomial Regression
poly = PolynomialFeatures(degree=3)
X_poly = poly.fit_transform(X_train)
poly_reg = LinearRegression()
poly_reg.fit(X_poly, y_train)

# Random Forest
rf_reg = RandomForestRegressor(n_estimators=100, random_state=42)
rf_reg.fit(X_train, y_train)

# ARIMA
arima_model = ARIMA(global_data['AverageTemperature'], order=(5,1,0))
arima_model_fit = arima_model.fit()

# Forecast future temperatures
future_years = np.arange(2014, 2100)
future_co2 = np.linspace(X['Annual CO₂ emissions'].max(), X['Annual CO₂ emissions'].max() * 200, len(future_years))
future_ch4 = np.linspace(X['Annual methane emissions in CO₂ equivalents'].max(), X['Annual methane emissions in CO₂ equivalents'].max() * 20, len(future_years))
future_no2 = np.linspace(X['Annual nitrous oxide emissions in CO₂ equivalents'].max(), X['Annual nitrous oxide emissions in CO₂ equivalents'].max() * 5, len(future_years))
future_X = np.column_stack([future_co2, future_ch4, future_no2])

# Predict using the best model (e.g., Random Forest)
future_temps = rf_reg.predict(future_X)
print(future_temps)
# Identify the year temperature breaches 2 degrees above baseline
baseline_temp = global_data['AverageTemperature'].iloc[0]
print(baseline_temp)
breach_year = future_years[np.where(future_temps > baseline_temp + 2)[0][0]]

print(f"The global temperature is predicted to breach the 2 degrees Celsius mark in the year {breach_year}.")

[13.37793866 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866
 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866
 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866
 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866
 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866
 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866
 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866
 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866
 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866
 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866
 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866
 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866
 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866
 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866 13.37793866
 13.37793866 13.37793866]
17.21968751610539

C:\Users\Admin\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

IndexError: index 0 is out of bounds for axis 0 with size 0

In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA
import numpy as np

# Load dataset
data = pd.read_csv('merged_data_inner.csv')

# Preprocessing (aggregating to global level)
global_data = data.groupby('Year')['AverageTemperature'].mean().reset_index()

In [17]:
global_data.head()

   Year  AverageTemperature
0  1850           17.219688
1  1851           17.507352
2  1852           17.495718
3  1853           17.482573
4  1854           17.474896